<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.github.sloppish.runx.cal-events</string>
  <key>CFBundleExecutable</key>
  <string>cal-events</string>
  <key>CFBundleName</key>
  <string>Runx Calendar</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>Runx needs access to your calendars to show upcoming events.</string>
</dict>
</plist>
